Connect n8n to any LLM with OpenRouter (500 Options).json
{
  "name": "Connect n8n to any LLM with OpenRouter (500 Options)",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "71914cc6-2bdd-4205-a114-2a83ed8e0c83",
      "name": "When chat message received",
      "webhookId": "7cfccc4e-4e73-4add-99f1-1423fb86292d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "baa4fe21-5b63-4254-83fb-9e5f9730ff00",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "content": "Open Router\nhttps://openrouter.ai/"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        -16
      ],
      "typeVersion": 1,
      "id": "0108ebdf-3d4a-41fd-8895-80a1e0ab7e96",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Model Selector"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -448,
        384
      ],
      "typeVersion": 1,
      "id": "e683e9aa-ff34-4eed-a07a-e7725e67bc36",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a final query that is optimized with comments. Only return the final query:\n\nQuery:  {{ $json.agent_input }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        368,
        400
      ],
      "id": "76df22db-394f-4764-9fec-d9cc7811e085",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "content": "Fallback Models"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -464,
        1056
      ],
      "typeVersion": 1,
      "id": "3ab729cb-6d9f-4bca-a304-ac26cb580d87",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "model": "google/gemini-3-pro-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        192,
        192
      ],
      "id": "6979e919-f93f-4d24-9a4a-fc5c79ae6033",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "jcTXgeNNKqzRhSAy",
          "name": "n8n-deleted-after-vid"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "rule": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8cc4d311-d118-4a39-b4f7-dcef16cba1a0",
                    "leftValue": "={{ $json.agent_input }}",
                    "rightValue": "Select",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  },
                  {
                    "id": "8a29f72f-5f6c-4918-b4b5-bd334ed21c6c",
                    "leftValue": "={{ $json.agent_input }}",
                    "rightValue": "From",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.modelSelector",
      "typeVersion": 1,
      "position": [
        288,
        592
      ],
      "id": "a116b1c8-f845-4004-8c92-3ba9af556b5b",
      "name": "Model Selector"
    },
    {
      "parameters": {
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        144,
        1088
      ],
      "id": "a787be8e-fb03-4a5e-bc60-78c21f55577b",
      "name": "AI Agent2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -112,
        400
      ],
      "id": "288e96f9-0ab7-49df-936d-3eded3587c8e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e94ef7fa-6c70-48c8-b1de-093b69aab6eb",
              "name": "agent_input",
              "value": "Select * From database_table",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        400
      ],
      "id": "d68b35fd-e115-45f5-b543-56b34a6fa0d8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        272,
        736
      ],
      "id": "14b21912-0c46-4d9c-a1a6-6480ffece697",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "ERugxpj4vwEUPMop",
          "name": "Ryan Nolan Account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        432,
        752
      ],
      "id": "68502265-e7fb-483a-8a1c-79743502825c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "n9RXiJZYFxH8eow9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        64,
        1344
      ],
      "id": "57127e62-8654-4c01-a0b9-f19d7d5db541",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "ERugxpj4vwEUPMop",
          "name": "Ryan Nolan Account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        208,
        1360
      ],
      "id": "bba13c2d-44fb-439a-a6f5-cbd46b67e247",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "xM5Swf0gpT5UAxKy",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "content": "Homework/Project\nI want you to take an existing workflow and add these concepts into it. While this is a vague assignment, it will let you practice. Feel free to share on the wed call or in the group",
        "width": 768
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -384,
        1728
      ],
      "typeVersion": 1,
      "id": "34e71ade-710e-4bd0-84fb-c6360b01be98",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Model Selector": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Model Selector",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Model Selector",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "96764622-b1e8-4861-b72f-c6d88d85d8f9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "814a2cb8ce8336c3ed2018f47d9857281f8cab10297c7acb9df3b448f0c9a145"
  },
  "id": "LIgyVecYiuQhb0VE-xOz_",
  "tags": []
}