OpenClaw Clone.json
{
  "name": "OpenClaw Clone",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        16,
        912
      ],
      "id": "d59de7b4-288e-4f04-a0c5-506c05045e7d",
      "name": "Telegram Trigger",
      "webhookId": "dbf7e7d0-4f08-49f4-abf8-e68328e00b24"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2048,
        944
      ],
      "id": "2c2665ad-79bf-46b1-b2d8-ac71cda0d9d9",
      "name": "OpenRouter Chat Model"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "YOUR_INIT_TABLE_ID",
          "mode": "list",
          "cachedResultName": "ClawdBot Init",
          "cachedResultUrl": "/projects/YOUR_PROJECT_ID/datatables/YOUR_INIT_TABLE_ID"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "username",
              "keyValue": "YOUR_USERNAME"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1648,
        976
      ],
      "id": "cb4fd74c-b3df-4966-8821-4797abb42ebe",
      "name": "Get row(s)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "b1b370a8-b981-43ab-b1b0-88853bad298b",
              "leftValue": "={{ $json.message.chat.id }}",
              "rightValue": "={{ $if($('Telegram Trigger').isExecuted, $('Telegram Trigger').item.json.message.chat.id, YOUR_TELEGRAM_CHAT_ID) }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        224,
        912
      ],
      "id": "a3c75a97-ea5d-4ea0-9650-75ae6acbb998",
      "name": "Filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ac8d70f0-59ba-4381-942d-18f7401a4705",
              "name": "user_message",
              "value": "={{ $if($('Transcribe a recording').isExecuted, $('Transcribe a recording').item.json.content.parts[0].text, $if($('Analyze document').isExecuted, $('Analyze document').item.json.content.parts[0].text, $if($('Analyze an image').isExecuted, $('Analyze an image').item.json.content.parts[0].text, $('Filter').item.json.message.text))) }}",
              "type": "string"
            },
            {
              "id": "4ebb8355-2aa2-4af2-8f82-a8c5bc57e0c9",
              "name": "system_prompt_details",
              "value": "=username: {{ $json.username || \"[COLLECT and use database tool to upsert] Field: username | Prompt: Ask the user to choose a username. This will be their unique identifier. | Rules: Save exactly as provided, no modifications. | Example: 'shabbir', 'nova_builder'\" }}\nsoul: {{ $json.soul || \"[COLLECT and use database tool to upsert] Field: soul | Prompt: Ask the user to define your soul - give you a name, a vibe, and a general purpose. | Rules: Combine all three elements (name, vibe, purpose) into a single concise description. | Example: 'Nova - warm and curious - helps brainstorm creative projects'\" }}\nuser: {{ $json.user || \"[COLLECT and use database tool to upsert] Field: user | Prompt: Ask the user to tell you about themselves - anything they want you to remember. | Rules: Consolidate their response into a structured profile. Include interests, goals, preferences, and any relevant context. | Example: 'AI automation consultant, prefers direct communication, focused on scaling content workflows'\" }}",
              "type": "string"
            },
            {
              "id": "f1d7c2a0-d580-4e7a-bc8b-29e1102c03bb",
              "name": "last_channel",
              "value": "=telegram",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1824,
        576
      ],
      "id": "79455302-da34-4630-9331-563497b4d121",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $if($('Edit Fields').isExecuted, $('Edit Fields').item.json.last_channel, $if($('Edit Fields1').isExecuted, $('Edit Fields1').item.json.last_channel, $if($('Edit Fields2').isExecuted, $('Edit Fields2').item.json.last_channel, $('Edit Fields3').item.json.last_channel))) }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "39d05258-72cc-4266-86f1-8b2ae9fccd53"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Telegram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "10be5dff-f0cc-496b-aff2-225f66654597",
                    "leftValue": "={{ $if($('Edit Fields').isExecuted, $('Edit Fields').item.json.last_channel, $if($('Edit Fields1').isExecuted, $('Edit Fields1').item.json.last_channel, $if($('Edit Fields2').isExecuted, $('Edit Fields2').item.json.last_channel, $('Edit Fields3').item.json.last_channel))) }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "whatsapp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3280,
        272
      ],
      "id": "ebcd5851-24e0-4a17-85d0-6c492e6197fa",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $if($('Telegram Trigger').isExecuted, $('Telegram Trigger').item.json.message.chat.id, YOUR_TELEGRAM_CHAT_ID) }}",
        "text": "={{ $('n8nClaw').item.json.output }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3568,
        80
      ],
      "id": "f8139f3e-bcf7-4623-ac04-75590cfc05c2",
      "name": "Send a text message",
      "webhookId": "cec319a4-390a-4df4-9ef2-4e80b443e077"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_message }}",
        "options": {
          "systemMessage": "=You are n8nClaw, an advanced, proactive AI assistant with access to advanced tools. Your functionality is according to the below details.\n\n{{ $json.system_prompt_details }}\n\nThe User field is a living document. Any new and important information that you receive related to the user - that is worth remembering to be useful in future conversations - is to be added there using the update info tool. Any recurring tasks the user expects you to do (manage calendar, etc - should also go into the user field)\n\nYou also have access to read, create, and update tasks and subtasks through two data tables - one for tasks and one for subtasks.\n\nAnything the user asks you to do must be logged to the tasks and subtasks tables. You can then work on those tasks and subtasks, and update them with lots of detail - as necessary.\n\nTask and subtask details should be upserted with any info required. For example, if you completed a task/subtask partially, update the details with whatever you've already done so you can pick up from there in the next iteration.\n\nAdditionally, As you work on a task/subtask, it may require additional tasks/subtasks to be created - do so if needed, adding all relevant details.\n\nOnce a task or subtask is done, mark task_completed or subtask_completed as true. An entire task can only be completed once ALL subtasks are complete.\n\nYou should always search for tasks first, and then search for the subtasks by the task ID, and plan your work accordingly.\n\nIf you require more context about the user or about previous conversations, you can use query the vector store tool(it is trained on past conversations) to pull the relevant information and continue working.\n\nEMAIL\nYou have access to an AI agent tool that manages your gmail inbox. You can use it to read, reply, delete, get, and search for messages. To take any actions on existing messages, you will need to use the google api-friendly message ID (if you received an email directly).\n\nDOING WORK\nYou have access to a research agent to get any information on anything.\n\nYou also have access to multiple worker agents to break tasks up into parts and do more work concurrently. You MUST use these agents.\n\nYou also have access to a document agent for saving work. The document agent is ONLY to receive completed work for saving. You are NOT to send it instructions for what output to produce. this agent has access to google docs create, update, and drive tools. Save the Google Drive URLs to the task info for persistence.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2976,
        672
      ],
      "id": "9488fa61-85cb-4c8b-a93f-e44cb601a20c",
      "name": "n8nClaw"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get pending or completed tasks",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "YOUR_TASKS_TABLE_ID",
          "mode": "list",
          "cachedResultName": "ClawdBot Tasks",
          "cachedResultUrl": "/projects/YOUR_PROJECT_ID/datatables/YOUR_TASKS_TABLE_ID"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        3904,
        608
      ],
      "id": "4ac91c3e-9c92-4698-98fb-ce8f9cc53a47",
      "name": "Get Tasks"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get pending or completed subtasks",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "YOUR_SUBTASKS_TABLE_ID",
          "mode": "list",
          "cachedResultName": "ClawdBot Subtasks",
          "cachedResultUrl": "/projects/YOUR_PROJECT_ID/datatables/YOUR_SUBTASKS_TABLE_ID"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "parent_task_id",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            }
          ]
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        3776,
        608
      ],
      "id": "604c4076-737c-4a3b-8a27-1761b1cde8ab",
      "name": "Get Subtasks"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Upsert Subtask",
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "YOUR_SUBTASKS_TABLE_ID",
          "mode": "list",
          "cachedResultName": "ClawdBot Subtasks",
          "cachedResultUrl": "/projects/YOUR_PROJECT_ID/datatables/YOUR_SUBTASKS_TABLE_ID"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "parent_task_id",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "subtask_complete": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('subtask_complete', ``, 'boolean') }}",
            "subtask_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('subtask_name', ``, 'string') }}",
            "subtask_details": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('subtask_details', ``, 'string') }}",
            "parent_task_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parent_task_id', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "parent_task_id",
              "displayName": "parent_task_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subtask_name",
              "displayName": "subtask_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subtask_details",
              "displayName": "subtask_details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subtask_complete",
              "displayName": "subtask_complete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        3648,
        608
      ],
      "id": "c29e4efa-322d-4e1f-85fc-cf636dc0237e",
      "name": "Upsert Subtask"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Upsert task",
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "YOUR_TASKS_TABLE_ID",
          "mode": "list",
          "cachedResultName": "ClawdBot Tasks",
          "cachedResultUrl": "/projects/YOUR_PROJECT_ID/datatables/YOUR_TASKS_TABLE_ID"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "task_name",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "task_complete": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('task_complete', ``, 'boolean') }}",
            "task_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('task_name', ``, 'string') }}",
            "task_details": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('task_details', ``, 'string') }}",
            "Is_recurring": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Is_recurring', ``, 'boolean') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "task_name",
              "displayName": "task_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "task_details",
              "displayName": "task_details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "task_complete",
              "displayName": "task_complete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Is_recurring",
              "displayName": "Is_recurring",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        3504,
        608
      ],
      "id": "a7613a80-3786-42a1-a4ea-f4c1adcadf1c",
      "name": "Upsert Task"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Initialize first usage",
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "YOUR_INIT_TABLE_ID",
          "mode": "list",
          "cachedResultName": "ClawdBot Init",
          "cachedResultUrl": "/projects/YOUR_PROJECT_ID/datatables/YOUR_INIT_TABLE_ID"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "username",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "soul": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('soul', ``, 'string') }}",
            "user": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('user', ``, 'string') }}",
            "heartbeat": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('heartbeat', ``, 'string') }}",
            "last_channel": "={{ $json.last_channel }}",
            "username": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('username', `the \"username\" provided by the user as the first answer.`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "soul",
              "displayName": "soul",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "heartbeat",
              "displayName": "heartbeat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_channel",
              "displayName": "last_channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_vector_id",
              "displayName": "last_vector_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        4032,
        608
      ],
      "id": "d1881cc4-a535-4289-bf7e-2465127216a1",
      "name": "Initialization - Update Info"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "YOUR_USERNAME",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2192,
        944
      ],
      "id": "d0e1ef23-59a6-48e5-bb28-fbe6a18805e0",
      "name": "Postgres Chat Memory"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT session_id, message, id\nFROM n8n_chat_histories \nWHERE id > '{{ $json.last_vector_id }}'\nORDER BY id ASC\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2336,
        2080
      ],
      "id": "ec26e4b0-bd48-4e35-8620-359c4a99004a",
      "name": "Execute a SQL query"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "YOUR_INIT_TABLE_ID",
          "mode": "list",
          "cachedResultName": "ClawdBot Init",
          "cachedResultUrl": "/projects/YOUR_PROJECT_ID/datatables/YOUR_INIT_TABLE_ID"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "username",
              "keyValue": "YOUR_USERNAME"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2144,
        2080
      ],
      "id": "6eccd3c9-efef-4ce8-82eb-b800402504b4",
      "name": "Get row(s)1"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        3184,
        2080
      ],
      "id": "f27a8946-7aa7-4e60-82aa-e0b32b7f3250",
      "name": "Supabase Vector Store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        3232,
        2288
      ],
      "id": "f68842c3-82d5-4395-b022-da9124aa7907",
      "name": "Embeddings OpenAI"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.output.summary }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        3424,
        2288
      ],
      "id": "03a2d30e-2bfe-4c83-8035-221ad5ac227d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "YOUR_INIT_TABLE_ID",
          "mode": "list",
          "cachedResultName": "ClawdBot Init",
          "cachedResultUrl": "/projects/YOUR_PROJECT_ID/datatables/YOUR_INIT_TABLE_ID"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "username",
              "keyValue": "YOUR_USERNAME"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "last_vector_id": "={{ $('Execute a SQL query').last().json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "soul",
              "displayName": "soul",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "heartbeat",
              "displayName": "heartbeat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "last_channel",
              "displayName": "last_channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "last_vector_id",
              "displayName": "last_vector_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3552,
        2080
      ],
      "id": "4242fc16-0880-49df-b7cf-19e49a3705d4",
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "get info about the user as needed",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        2352,
        944
      ],
      "id": "b11c5ebd-2438-42cf-a6e7-56759e374ac9",
      "name": "Supabase Vector Store1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2480,
        1104
      ],
      "id": "4f903fcc-aa5f-4df5-bbfa-9698b25b3aa9",
      "name": "Embeddings OpenAI1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "YOUR_WEBHOOK_PATH",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        368
      ],
      "id": "7c7c2912-18f7-4d75-a58a-c2e63b13cd27",
      "name": "Webhook",
      "webhookId": "YOUR_WEBHOOK_PATH"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "YOUR_INIT_TABLE_ID",
          "mode": "list",
          "cachedResultName": "ClawdBot Init",
          "cachedResultUrl": "/projects/YOUR_PROJECT_ID/datatables/YOUR_INIT_TABLE_ID"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "username",
              "keyValue": "YOUR_USERNAME"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        416,
        368
      ],
      "id": "d3ad7dfa-f42f-4196-aff3-967b938fed82",
      "name": "Get row(s)2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "b1b370a8-b981-43ab-b1b0-88853bad298b",
              "leftValue": "={{ $json.body.data.key.remoteJid }}",
              "rightValue": "=YOUR_PHONE@s.whatsapp.net",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "4f0a49e8-7a0b-4bcf-8c4c-929d0596e309",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        208,
        368
      ],
      "id": "01bf4012-914e-4a18-8973-108c2f8f627b",
      "name": "Filter1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ac8d70f0-59ba-4381-942d-18f7401a4705",
              "name": "user_message",
              "value": "={{ $('Filter1').item.json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "4ebb8355-2aa2-4af2-8f82-a8c5bc57e0c9",
              "name": "system_prompt_details",
              "value": "=username: {{ $json.username || \"[COLLECT and use database tool to upsert] Field: username | Prompt: Ask the user to choose a username. This will be their unique identifier. | Rules: Save exactly as provided, no modifications. | Example: 'shabbir', 'nova_builder'\" }}\nsoul: {{ $json.soul || \"[COLLECT and use database tool to upsert] Field: soul | Prompt: Ask the user to define your soul - give you a name, a vibe, and a general purpose. | Rules: Combine all three elements (name, vibe, purpose) into a single concise description. | Example: 'Nova - warm and curious - helps brainstorm creative projects'\" }}\nuser: {{ $json.user || \"[COLLECT and use database tool to upsert] Field: user | Prompt: Ask the user to tell you about themselves - anything they want you to remember. | Rules: Consolidate their response into a structured profile. Include interests, goals, preferences, and any relevant context. | Example: 'AI automation consultant, prefers direct communication, focused on scaling content workflows'\" }}",
              "type": "string"
            },
            {
              "id": "f1d7c2a0-d580-4e7a-bc8b-29e1102c03bb",
              "name": "last_channel",
              "value": "=whatsapp",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1824,
        368
      ],
      "id": "299311d7-d1c3-4556-abfb-563269fa2ff6",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        3568,
        256
      ],
      "id": "1f0d3270-bc4b-4159-8ac3-a2c08d8d7f46",
      "name": "Enviar texto",
      "credentials": {}
    },
    {
      "parameters": {
        "model": "google/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2608,
        1152
      ],
      "id": "bb5b46c4-aac0-4420-8ba0-42355179ba80",
      "name": "OpenRouter Chat Model1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "YOUR_USERNAME-research",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2752,
        1152
      ],
      "id": "04f8b23b-dc90-405c-b777-fa288c269fea",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        3008,
        1152
      ],
      "id": "c4dea6ca-3e8b-475b-a638-dc0ad39b72a8",
      "name": "Search in Tavily",
      "credentials": {}
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        2880,
        1152
      ],
      "id": "d630ed8b-fc28-41ea-8b30-e5ae7674b7aa",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        192
      ],
      "id": "ea66fd4e-d4d3-4989-9614-778c64050f98",
      "name": "Hourly heartbeat"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "YOUR_INIT_TABLE_ID",
          "mode": "list",
          "cachedResultName": "ClawdBot Init",
          "cachedResultUrl": "/projects/YOUR_PROJECT_ID/datatables/YOUR_INIT_TABLE_ID"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "username",
              "keyValue": "YOUR_USERNAME"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        416,
        192
      ],
      "id": "6126868c-61db-48b1-a7aa-ba2888572e7e",
      "name": "Get row(s)3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ac8d70f0-59ba-4381-942d-18f7401a4705",
              "name": "user_message",
              "value": "=See what's pending and start working on it.",
              "type": "string"
            },
            {
              "id": "4ebb8355-2aa2-4af2-8f82-a8c5bc57e0c9",
              "name": "system_prompt_details",
              "value": "=username: {{ $json.username || \"[COLLECT and use database tool to upsert] Field: username | Prompt: Ask the user to choose a username. This will be their unique identifier. | Rules: Save exactly as provided, no modifications. | Example: 'shabbir', 'nova_builder'\" }}\nsoul: {{ $json.soul || \"[COLLECT and use database tool to upsert] Field: soul | Prompt: Ask the user to define your soul - give you a name, a vibe, and a general purpose. | Rules: Combine all three elements (name, vibe, purpose) into a single concise description. | Example: 'Nova - warm and curious - helps brainstorm creative projects'\" }}\nuser: {{ $json.user || \"[COLLECT and use database tool to upsert] Field: user | Prompt: Ask the user to tell you about themselves - anything they want you to remember. | Rules: Consolidate their response into a structured profile. Include interests, goals, preferences, and any relevant context. | Example: 'AI automation consultant, prefers direct communication, focused on scaling content workflows'\" }}",
              "type": "string"
            },
            {
              "id": "f1d7c2a0-d580-4e7a-bc8b-29e1102c03bb",
              "name": "last_channel",
              "value": "={{ $json.last_channel }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1824,
        192
      ],
      "id": "9dcb299d-09ba-4f4d-8a35-83df706dc6e3",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "toolDescription": "Research Agent",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=You are a research agent. You have access to Wikipedia and Tavily tools."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        2656,
        944
      ],
      "id": "fea2db68-5b0b-4ef0-a45d-5ba8d30543b4",
      "name": "Research Agent"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "98ecf205-c26f-4170-8085-dbb9baa2fb97",
      "name": "Gmail Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "YOUR_INIT_TABLE_ID",
          "mode": "list",
          "cachedResultName": "ClawdBot Init",
          "cachedResultUrl": "/projects/YOUR_PROJECT_ID/datatables/YOUR_INIT_TABLE_ID"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "username",
              "keyValue": "YOUR_USERNAME"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "04adbcb1-77d1-4e83-b7a7-97eef46eb32e",
      "name": "Get row(s)4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ac8d70f0-59ba-4381-942d-18f7401a4705",
              "name": "user_message",
              "value": "=You have just received an email. Determine what to do with it.\n\nQuery the databases if it's related to any task, and query the vector store to get more context.\n\nIMPORTANT - you are not to divulge ANY sensitive information in email replies. If a reply requires sensitive information, save the reply as a draft in Gmail and let me know on telegram.\n\n{{ $('Gmail Trigger').item.json.headers.from }}\n{{ $('Gmail Trigger').item.json.headers['message-id'] }}\n{{ $('Gmail Trigger').item.json.headers.subject }}\n{{ $('Gmail Trigger').item.json.text }}",
              "type": "string"
            },
            {
              "id": "4ebb8355-2aa2-4af2-8f82-a8c5bc57e0c9",
              "name": "system_prompt_details",
              "value": "=username: {{ $json.username || \"[COLLECT and use database tool to upsert] Field: username | Prompt: Ask the user to choose a username. This will be their unique identifier. | Rules: Save exactly as provided, no modifications. | Example: 'shabbir', 'nova_builder'\" }}\nsoul: {{ $json.soul || \"[COLLECT and use database tool to upsert] Field: soul | Prompt: Ask the user to define your soul - give you a name, a vibe, and a general purpose. | Rules: Combine all three elements (name, vibe, purpose) into a single concise description. | Example: 'Nova - warm and curious - helps brainstorm creative projects'\" }}\nuser: {{ $json.user || \"[COLLECT and use database tool to upsert] Field: user | Prompt: Ask the user to tell you about themselves - anything they want you to remember. | Rules: Consolidate their response into a structured profile. Include interests, goals, preferences, and any relevant context. | Example: 'AI automation consultant, prefers direct communication, focused on scaling content workflows'\" }}",
              "type": "string"
            },
            {
              "id": "f1d7c2a0-d580-4e7a-bc8b-29e1102c03bb",
              "name": "last_channel",
              "value": "={{ $json.last_channel }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1824,
        0
      ],
      "id": "fe526ff8-d59f-422f-b909-2e0d2bce6ac1",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "toolDescription": "Email manager agent",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "You are an email manager. You have access to a variety of tools to process emails. Keep track of the message ID (google api friendly format) - you'll need it to take any actions on any messages."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        3248,
        992
      ],
      "id": "4c90adc9-d2d1-4405-a30b-a7f1cff21cdc",
      "name": "Email Manager"
    },
    {
      "parameters": {
        "model": "anthropic/claude-haiku-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3200,
        1152
      ],
      "id": "9494792e-bd07-4669-bc15-6845144fa22c",
      "name": "OpenRouter Chat Model2"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "YOUR_USERNAME-email",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        3376,
        1264
      ],
      "id": "bb7079bc-1fb8-4282-b1a4-f2ebe1438996",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        3616,
        1472
      ],
      "id": "3d31e96b-e447-4cd5-acba-4d6105b22aee",
      "name": "Send a message in Gmail",
      "webhookId": "127e5478-a344-4620-9039-cb20f5540e81"
    },
    {
      "parameters": {
        "toolDescription": "call this tool to create, update, and move documents in google drive",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "You are a document manager agent. You have access to create and update google docs, search for folders in google drive, delete files in google drive, and move files between folders. Retain the file ID in memory for any file you are working with."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        4320,
        1280
      ],
      "id": "dd9c4924-74cb-4d27-82a6-62dd93299721",
      "name": "Document Manager"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "YOUR_USERNAME-docs",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        4112,
        1472
      ],
      "id": "04435bf2-7c24-429e-8f50-ed0d21269cb4",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "model": "anthropic/claude-haiku-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3968,
        1472
      ],
      "id": "cb31d799-7f94-4473-85a6-e947d31ee493",
      "name": "OpenRouter Chat Model3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "bbe4cbfd-d4b1-4095-b505-d97c90927250"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "59f728d1-4935-475f-b519-39643b57c99f",
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "72c3ed90-193a-4df8-ba1b-a5de99277d87",
                    "leftValue": "={{ $json.message.document }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Document"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        480,
        880
      ],
      "id": "56a011d5-0207-40c9-b089-49e8f6c32257",
      "name": "Switch1"
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1168,
        848
      ],
      "id": "cc392044-c50a-47e2-b3d7-32cfc03ae6b0",
      "name": "Analyze document"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[3].file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        688
      ],
      "id": "1ea8d325-85d5-4007-8fe7-768bc104c0a8",
      "name": "Get a file",
      "webhookId": "e70c0340-4812-48fc-858c-f5723a3d8b35"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.document.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        848
      ],
      "id": "316673b2-5672-48e1-aca3-57caeee3d157",
      "name": "Get a file1",
      "webhookId": "d37f31f7-7cf4-403b-a0c2-b882c6376bc1"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        528
      ],
      "id": "581b47d3-74a6-470e-86a8-157734e2554e",
      "name": "Get a file2",
      "webhookId": "d7434e68-52b1-48ff-9c5d-0236438f9892"
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1168,
        528
      ],
      "id": "ebc3ec52-c872-43d3-be23-dfa5810c841e",
      "name": "Transcribe a recording"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/nano-banana-pro-preview",
          "mode": "list",
          "cachedResultName": "models/nano-banana-pro-preview"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1168,
        688
      ],
      "id": "442d633c-bfae-469d-a31d-aad1f2eee9b0",
      "name": "Analyze an image"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1936,
        2080
      ],
      "id": "7c44b755-a1cb-4e60-9291-87d24dce672d",
      "name": "Data Loader"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are a summarizer agent. I will provide you with the entire log of a day's worth of discussion with my AI agent. You are to summarize the conversation for storing in deep memory."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2784,
        2080
      ],
      "id": "fc24eb23-54c1-4c48-94c9-29cb6df0cf15",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2544,
        2080
      ],
      "id": "19e253f5-d1df-4b03-9d5a-b5c6a5518469",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "model": "anthropic/claude-haiku-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2720,
        2288
      ],
      "id": "7559fd5c-698f-4b3f-b4ef-daf460e4a6b9",
      "name": "OpenRouter Chat Model4"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"summary\":\"text\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2928,
        2288
      ],
      "id": "bb244fdf-e634-4e0a-9c20-71086920feda",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Update user, heartbeat as needed.",
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "YOUR_INIT_TABLE_ID",
          "mode": "list",
          "cachedResultName": "ClawdBot Init",
          "cachedResultUrl": "/projects/YOUR_PROJECT_ID/datatables/YOUR_INIT_TABLE_ID"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "username",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "soul": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('soul', ``, 'string') }}",
            "user": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('user', ``, 'string') }}",
            "heartbeat": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('heartbeat', ``, 'string') }}",
            "last_channel": "={{ $json.last_channel }}",
            "username": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('username', `the \"username\" provided by the user as the first answer.`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "soul",
              "displayName": "soul",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "heartbeat",
              "displayName": "heartbeat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_channel",
              "displayName": "last_channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_vector_id",
              "displayName": "last_vector_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        4160,
        608
      ],
      "id": "a654e79f-f87b-479c-8121-7aa702888840",
      "name": "Update User and Heartbeat"
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        3456,
        1472
      ],
      "id": "b99b6530-584a-41ce-8ea6-846f0a294179",
      "name": "Delete a message in Gmail",
      "webhookId": "bbf8b2d1-921d-4a83-9e0c-efde5ea83bc0"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        3296,
        1472
      ],
      "id": "e8f09a38-2856-4d68-8853-fa73fb246f06",
      "name": "Get a message in Gmail",
      "webhookId": "b496028e-2a7d-4a09-a824-5c9aea779a0d"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "simple": false,
        "filters": {
          "q": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search', ``, 'string') }}",
          "sender": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sender', ``, 'string') }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        3776,
        1472
      ],
      "id": "cdbdc85d-7ddf-4b9b-9c05-5fdaf6d29f00",
      "name": "Get many messages in Gmail",
      "webhookId": "520fa693-54fa-468e-8f9b-f7ef8539b0fb"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        3136,
        1472
      ],
      "id": "8c390e6b-7b63-4b8f-a348-fdc5bc7cf7d0",
      "name": "Reply to a message in Gmail",
      "webhookId": "e58aedc1-67bf-4ff6-861c-a3072b28961c"
    },
    {
      "parameters": {
        "folderId": "default",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        4672,
        1584
      ],
      "id": "df125aad-015e-4a6a-af86-a143a20968a7",
      "name": "Create a document in Google Docs"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        4512,
        1584
      ],
      "id": "a3b1da0c-26b6-4e3a-8d37-8cc9962fa590",
      "name": "Get a document in Google Docs"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doc_ID_or_URL', ``, 'string') }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('actionFields0_Text', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        4352,
        1584
      ],
      "id": "3d65256a-5d78-4d24-8f22-c6bf62acb1c7",
      "name": "Update a document in Google Docs"
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File', ``, 'string') }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        4832,
        1584
      ],
      "id": "74e79968-4878-47d9-9178-b5aae44338a7",
      "name": "Delete a file in Google Drive"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $fromAI(\"folder_name\") }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        4976,
        1584
      ],
      "id": "bc5cdc08-a9ff-4cde-bd9f-29000a5cba87",
      "name": "Create folder in Google Drive"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File', ``, 'string') }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Parent_Folder', ``, 'string') }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        5152,
        1584
      ],
      "id": "31a8ef7d-f6e5-4a98-ad2a-2dc5dac035d2",
      "name": "Move file in Google Drive"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 50,
        "queryString": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Query', ``, 'string') }}",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        5328,
        1584
      ],
      "id": "1838b014-5275-448f-9515-9a8ca137e2aa",
      "name": "Search files and folders in Google Drive"
    },
    {
      "parameters": {
        "model": "anthropic/claude-haiku-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3952,
        1104
      ],
      "id": "f54274b8-d42f-4a41-bc7a-124944b5577f",
      "name": "OpenRouter Chat Model5"
    },
    {
      "parameters": {
        "toolDescription": "Worker Agent 1 - use this for simple work",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('System_Message', ``, 'string') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        4048,
        944
      ],
      "id": "97a37ca9-1d0d-4c26-93e3-9864833defec",
      "name": "Worker Agent 1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "YOUR_USERNAME-worker1",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        4096,
        1104
      ],
      "id": "e43d7bc4-7402-478e-9d8c-5fcf52486204",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "model": "anthropic/claude-sonnet-4.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        4336,
        1104
      ],
      "id": "51263efc-0568-4520-8d28-45d298a55a6b",
      "name": "OpenRouter Chat Model6"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "YOUR_USERNAME-worker2",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        4480,
        1104
      ],
      "id": "97ded1f5-f120-4f93-a15d-0e90001ebf66",
      "name": "Simple Memory4"
    },
    {
      "parameters": {
        "model": "anthropic/claude-opus-4.6",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        4704,
        1104
      ],
      "id": "47648a93-f44d-42ff-90cf-1999ecf9576d",
      "name": "OpenRouter Chat Model7"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "YOUR_USERNAME-worker3",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        4848,
        1104
      ],
      "id": "51489849-8a58-4811-8926-3a493d2ef545",
      "name": "Simple Memory5"
    },
    {
      "parameters": {
        "toolDescription": "Worker Agent 3 - use for higher-order thinking work",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('System_Message', ``, 'string') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        4800,
        880
      ],
      "id": "8ab039a3-41ce-4f1c-b4d0-5bab57c9dc8b",
      "name": "Worker Agent 3"
    },
    {
      "parameters": {
        "toolDescription": "Worker Agent 2 - use for mid-level work",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('System_Message', ``, 'string') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        4432,
        912
      ],
      "id": "16816b0c-b9ff-43be-a7b1-4445959eb51a",
      "name": "Worker Agent 2"
    },
    {
      "parameters": {
        "content": "## Record keeping and ingestion",
        "height": 576,
        "width": 2096
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1792,
        1920
      ],
      "typeVersion": 1,
      "id": "f151976c-1469-4d63-aeae-7ca56fc7298e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        2976,
        1472
      ],
      "id": "aeb52d3e-b0ac-444d-9b8e-813bf0cfb194",
      "name": "Mark a message as read in Gmail",
      "webhookId": "e58aedc1-67bf-4ff6-861c-a3072b28961c"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8nClaw": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tasks": {
      "ai_tool": [
        []
      ]
    },
    "Get Subtasks": {
      "ai_tool": [
        []
      ]
    },
    "Upsert Subtask": {
      "ai_tool": [
        []
      ]
    },
    "Upsert Task": {
      "ai_tool": [
        []
      ]
    },
    "Initialization - Update Info": {
      "ai_tool": [
        []
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        []
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        []
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Get row(s)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        []
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Research Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)3": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hourly heartbeat": {
      "main": [
        [
          {
            "node": "Get row(s)3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        []
      ]
    },
    "Research Agent": {
      "ai_tool": [
        []
      ]
    },
    "Get row(s)4": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get row(s)4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Email Manager",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Email Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Email Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "Document Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Document Manager": {
      "ai_tool": [
        [
          {
            "node": "Worker Agent 1",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Worker Agent 2",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Worker Agent 3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Document Manager",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Get a file2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file1": {
      "main": [
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file2": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Loader": {
      "main": [
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Delete a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Email Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Email Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Email Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Email Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "Document Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "Document Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "Document Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete a file in Google Drive": {
      "ai_tool": [
        [
          {
            "node": "Document Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create folder in Google Drive": {
      "ai_tool": [
        [
          {
            "node": "Document Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Move file in Google Drive": {
      "ai_tool": [
        [
          {
            "node": "Document Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders in Google Drive": {
      "ai_tool": [
        [
          {
            "node": "Document Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Worker Agent 1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "Worker Agent 1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Worker Agent 2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory4": {
      "ai_memory": [
        [
          {
            "node": "Worker Agent 2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Worker Agent 3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory5": {
      "ai_memory": [
        [
          {
            "node": "Worker Agent 3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Mark a message as read in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Email Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4624a974-18da-4f15-907b-00c57b872f04",
  "meta": {
    "instanceId": "ccade946b718cd869f9a5da665687bc36d26450aa2457f0efcf92199a73505fe"
  },
  "id": "RIQeTCgb0kovDL8j",
  "tags": []
}